* {
    background-color: aqua;
    text-align: center;
}

.nav {
    display: inline-block;
    padding: 20px;
    background-color: maroon;
    color: goldenrod;
}

h3 {
    font-size: xx-large;
    color: goldenrod;
    font-weight: 300;
    
}

.search-Results {
    display: inline;
    border: 10px solid goldenrod;
    height: 400px;
    width: 400px;
    
}

